html, body{
  font-family: 'Poppins';
}

@media only screen and (min-width: 992px)  {
  #mainNav.navbar-shrink {
    background-color: #181818;
  }
}

header.masthead {
  background-image: url(../assets/img/header-bg.jpg);
}

#services {
  background-image: url(../assets/img/ill-do-bg.jpg);
}

.template-btn {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 20px;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.template-btn:hover {
  color: white;
  background: #f28500;
}
.portfolio-section {
  padding-top: 30px;
  transition: 1.3s;
  box-sizing: border-box;
  height: auto;
}

.portfolio-tab ul {
  text-align: center;
  margin-top: 50px;
}
.portfolio-tab ul li {
  color: #ffffff;
  background: transparent;
  display: inline;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 16px;
  border: 2px solid #FFFF00;
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 575.98px) {
  .portfolio-tab ul li {
    display: block;
    margin: 10px auto;
    max-width: 200px;
  }
}
.portfolio-tab ul li:hover {
  background: #FFFF00;
  color: #000000;
}
.portfolio-tab ul .active {
  background: #FFFF00;
  color: #000000;
}
.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}
.portfolio-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
}
@media (max-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 768.1px) and (max-width: 991px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }   
  }
.portfolio-grid .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  display:none;
  overflow:hidden;
}
.portfolio-wrapper {
  overflow:hidden;
  position: relative !important;
  cursor:pointer;
}
.portfolio-bg {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s;
  transform: scale(1)
}
.portfolio:hover .portfolio-bg{
  transform: scale(1.2)
}
.first .portfolio-bg{
  background-image: url('https://images.pexels.com/photos/267350/pexels-photo-267350.jpeg?cs=srgb&dl=accounts-applications-apps-267350.jpg&fm=jpg');
  
}
.second .portfolio-bg{
  background-image: url('https://images.pexels.com/photos/1053687/pexels-photo-1053687.jpeg?cs=srgb&dl=art-art-materials-artwork-1053687.jpg&fm=jpg');
}
.third .portfolio-bg{
  background-image: url('https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?cs=srgb&dl=brainstorming-campaign-collaborate-6224.jpg&fm=jpg');
  
}
.portfolio .label {
  position: absolute;
  width: 100%;
  height:100%;
  bottom: 0;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden
}

.portfolio .label-bg {
  background: #232323;
  opacity: 0.7;
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  transition: 1px;
}
.portfolio .label-text {
  color:#fff;
  position: relative;
  z-index:500;
  padding:50px 20px;
}
.portfolio:hover .label {
  opacity: 1;
  visibility: visible;
}
.portfolio .text-category {
  display:block;
}
.portfolio .template-btn {
  background: #FFFF00;
  border: 1px solid #FFFF00;
  text-decoration: none;
  margin-top: 20px;
  font-weight: 500
}